{% extends 'main/base-main.html' %} {% load static %} {% block content %}
<div class="container mt-5">
  <script src="https://donorbox.org/widget.js" paypalExpress="false"></script>
  <iframe
    src="https://donorbox.org/embed/gear-up?show_content=true"
    height="685px"
    width="100%"
    style="max-width: 100%; min-width: 100%; max-height: none !important"
    seamless="seamless"
    name="donorbox"
    frameborder="0"
    scrolling="no"
    allowpaymentrequest
  ></iframe>
</div>
{% endblock %}
