{% load static %}

{% block content %}
<!-- START THE FEATURETTES -->

<div class="container">
    <hr class="featurette-divider" />

    {% for single in article %}

   {% if forloop.counter|divisibleby:2 %}

    <div class="row featurette">

      <div class="col-md-5 order-md-1">
        <img src="{{single.picture.url}}" alt="Enrich" />
      </div>
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">
          {{single.title}}
        </h2>
        <p class="lead">
          {{single.content | slice:":255"}}
        </p>
        <p><a class="btn btn-secondary" href="{% url 'article' single.id %}">View details &raquo;</a></p>
      </div>
     
    </div>

    <hr class="featurette-divider" />

    {% else %}
    <div class="row featurette">

     
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">
          {{single.title}}
        </h2>
        <p class="lead">
          {{single.content | slice:":255"}}
        </p>
        <p><a class="btn btn-secondary" href="{% url 'article' single.id %}">View details &raquo;</a></p>
      </div>

      <div class="col-md-5 order-md-1">
        <img src="{{single.picture.url}}" alt="Enrich" />
      </div>
      
    </div>

    <hr class="featurette-divider" />


    {% endif %}

{% endfor %}

<!-- /END THE FEATURETTES -->
</div>
<!-- /.container -->
</div>


{% endblock %}