{% load static %} {% block content %}

<div class="container">
  <footer class="py-5">
    <div class="row">
      <div class="col-6 col-md-2 mb-3">
        <h5>WHO WE ARE</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-muted">At a Glance</a>
          </li>

          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-muted">Latest</a>
          </li>
        </ul>
      </div>

      <div class="col-6 col-md-2 mb-3">
        <h5>WHAT WE DO</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-muted">Health Education</a>
          </li>

          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-muted">Health Services</a>
          </li>
        </ul>
      </div>

      <div class="col-6 col-md-2 mb-3">
        <h5>WHERE WE WORK</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-muted">Locations</a>
          </li>
          <!-- <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 text-muted">About</a>
          </li> -->
        </ul>
      </div>

      <div class="col-md-5 offset-md-1 mb-3">
        <form>
          <h5>Subscribe to our newsletter</h5>
          <p>Monthly digest of what's new and exciting from us.</p>
          <div class="d-flex flex-column flex-sm-row w-100 gap-2">
            <label for="newsletter1" class="visually-hidden"
              >Email address</label
            >
            <input
              id="newsletter1"
              type="text"
              class="form-control"
              placeholder="Email address"
            />
            <button class="btn btn-warning" type="button">Subscribe</button>
          </div>
        </form>
      </div>
    </div>

    <div
      class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top"
    >
      <p>
        &copy; 2018 -
        <script>
          document.write(new Date().getFullYear());
        </script>
        Hepto, Inc. All rights reserved.
      </p>
      <ul class="list-unstyled d-flex fot-li">
        <li class="ms-5">
          <a
            class="link-dark"
            href="https://www.instagram.com/hepto.organization/?hl=en"
          >
            <i class="fa fa-instagram" aria-hidden="true"></i>
          </a>
        </li>
        <!-- <li class="ms-3">
          <a class="link-dark" href="#"
            ><i class="fa fa-twitter" aria-hidden="true"></i
          ></a>
        </li> -->
        <li class="ms-5">
          <a
            class="link-dark"
            href="https://web.facebook.com/hepto.org/?_rdc=1&_rdr"
            ><i class="fa fa-facebook" aria-hidden="true"></i
          ></a>
        </li>
        <li class="ms-5">
          <a
            class="link-dark"
            href="https://www.linkedin.com/in/healthcare-nonprofit-hepto-b733b3177/"
            ><i class="fa fa-linkedin" aria-hidden="true"></i>
          </a>
        </li>
        <!-- <li class="ms-3">
          <a class="link-dark" href="#"
            ><i class="fa fa-dribbble" aria-hidden="true"></i>
          </a>
        </li> -->
      </ul>
    </div>
  </footer>
</div>
{% endblock %}
