{%load static%} {% block content%}
<!-- 
  start
 -->
{% if user.is_authenticated %} {% else %}
<nav class="py-2 bg-secondary">
  <div class="container d-flex flex-wrap">
    <ul class="list-unstyled d-flex">
      <li class="ms-4">
        <a
          class="link-dark"
          href="https://www.instagram.com/hepto.organization/?hl=en"
        >
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </a>
      </li>
      <!-- <li class="ms-3">
          <a class="link-dark" href="#"
            ><i class="fa fa-twitter" aria-hidden="true"></i
          ></a>
        </li> -->
      <li class="ms-4">
        <a
          class="link-dark"
          href="https://web.facebook.com/hepto.org/?_rdc=1&_rdr"
          ><i class="fa fa-facebook" aria-hidden="true"></i
        ></a>
      </li>
      <li class="ms-4">
        <a
          class="link-dark"
          href="https://www.linkedin.com/in/healthcare-nonprofit-hepto-b733b3177/"
          ><i class="fa fa-linkedin" aria-hidden="true"></i>
        </a>
      </li>
      <!-- <li class="ms-3">
          <a class="link-dark" href="#"
            ><i class="fa fa-dribbble" aria-hidden="true"></i>
          </a>
        </li> -->
    </ul>
    <ul class="nav ms-auto">
      <li class="nav-item">
        <a href="{% url 'login' %}" class="nav-link link-dark px-2"
          ><i class="fa fa-sign-in" aria-hidden="true"></i> Login
        </a>
      </li>
      <li class="nav-item">
        <a href="{% url 'register' %}" class="nav-link link-dark px-2"
          ><i class="fa fa-user-plus" aria-hidden="true"></i> Sign up</a
        >
      </li>
    </ul>
  </div>
</nav>
{% endif %}

<nav
  class="navbar navbar-expand-sm navbar-dark bg-secondary"
  aria-label="Third navbar example"
>
  <div class="container">
    {% if user.is_authenticated %}

    <a class="navbar-brand" href="{% url 'status' %}"
      ><img src="{% static '/main/images/main/newhepto.png' %}" alt="Logo"
    /></a>
    {% else %}
    <a class="navbar-brand" href="{% url 'home' %}"
      ><img src="{% static '/main/images/main/newhepto.png' %}" alt="Logo"
    /></a>

    {% endif %}
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarsExample03"
      aria-controls="navbarsExample03"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample03">
      <ul class="navbar-nav ms-auto mb-2 mb-sm-0">
        {% if user.is_authenticated %}
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle text-w"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            {% if profile.profile_image %}
            <img
              width="32"
              height="32"
              class="rounded-circle me-3"
              src="{{profile.profile_image.url}}"
              alt="Writer"
            />
            {% else %}
            <!-- else -->
            <img
              width="32"
              height="32"
              class="rounded-circle me-3"
              src="{% static 'blog/images/profile.png' %}"
              alt="Writer"
            />
            {% endif %} {{request.user}}
            <!-- <i class="fa fa-angle-down" aria-hidden="true"></i> -->
          </a>
          <ul class="dropdown-menu bg-yl">
            <li>
              <a class="dropdown-item bg-gr" href="{% url 'profile' %}"
                >Profile <i class="fa fa-cog" aria-hidden="true"></i
              ></a>
            </li>

            <li>
              <a class="dropdown-item bg-gr" href="{% url 'logout' %}"
                >Logout <i class="fa fa-sign-out" aria-hidden="true"></i
              ></a>
            </li>
          </ul>
        </li>
        {% else %}

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            >WHO WE ARE</a
          >
          <ul class="dropdown-menu bg-yl">
            <li>
              <a class="dropdown-item bg-gr" href="{% url 'glance' %}"
                >At a Glance</a
              >
            </li>
            <li>
              <a class="dropdown-item bg-gr" href="#">Our Strategy</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            >WHAT WE DO</a
          >
          <ul class="dropdown-menu bg-yl">
            <li>
              <a class="dropdown-item bg-gr" href="#">Health Services</a>
            </li>
            <li>
              <a class="dropdown-item bg-gr" href="#">Health Equipments</a>
            </li>
            <li>
              <a class="dropdown-item bg-gr" href="#">Campaign on Health</a>
            </li>
            <li>
              <a class="dropdown-item bg-gr" href="#">Services Volunteered</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            >WHERE WE WORK</a
          >
          <ul class="dropdown-menu bg-yl">
            <li>
              <a class="dropdown-item bg-gr" href="#">Kenya</a>
            </li>
            <li>
              <a class="dropdown-item bg-gr" href="#">Somalia</a>
            </li>
            <li>
              <a class="dropdown-item bg-gr" href="#">Ethiopia</a>
            </li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            >HOW TO HELP</a
          >
          <ul class="dropdown-menu bg-yl">
            <li>
              <a class="dropdown-item bg-gr" href="{% url 'donate' %}"
                >Donate</a
              >
            </li>

            <li>
              <a class="dropdown-item bg-gr" href="#">Campaign</a>
            </li>
            <li>
              <a class="dropdown-item bg-gr" href="{% url 'volunteer' %}"
                >Volunteer</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'blog' %}">LATEST:</a>
        </li>
      </ul>
      <a href="{% url 'donate' %}" class="btn btn-outline-warning bg-yl ms-2"
        >Donate &#10084;</a
      >

      {% endif %}
    </div>
  </div>
</nav>

{%endblock%}

<!-- <li class="nav-item dropdown">
  <a
    class="nav-link dropdown-toggle"
    href="#"
    role="button"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    Link
  </a>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><hr class="dropdown-divider" /></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
  </ul>
</li> -->
