{% load static %} {% block content %}
<!-- 40features page -->
<!-- 
<hr class="featurette-divider" /> -->
<section class="section section-default mt-none mb-none">
  <div class="container">
    <h2 class="mb-sm">Our <strong>Partners</strong></h2>
    <strong>
      <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="square-holder">
            <img
              alt=""
              src="{% static '/main/images/main/banner/amazon-smile.png' %}"
            />
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="square-holder">
            <img
              alt=""
              src="{% static '/main/images/main/banner/brytebridge.png' %}"
            />
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="square-holder">
            <img
              alt=""
              src="{% static '/main/images/main/banner/guidestar-by-candid.png' %}"
            />
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="square-holder">
            <img
              alt=""
              src="{% static '/main/images/main/banner/guidestar.png' %}"
            />
          </div>
        </div>
      </div>
    </strong>
  </div>
</section>
{% endblock %}

<!-- gldfkdkgspojojbodjmlcfk -->
