{% load static %} {% block content %}

<!--  -->

<!-- Marketing messaging and featurettes
  ================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing my-4">
  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-4">
      <img src="{% static '/main/images/main/empower.png' %}" alt="Empower" />

      <h2 class="fw-normal">Empower</h2>
      <p>
        Empowerment is at the core of our mission . We know that change comes
        not only from saving lives, but from empowering those in need to save
        themselves
      </p>
      <!-- <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p> -->
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img src="{% static '/main/images/main/enlivel.png' %}" alt="EnLiven" />

      <h2 class="fw-normal">EnLiven</h2>
      <p>
        ​Hope. It is a defining human trait. We are dedicated to keeping hope
        alive by invigorating weak economies with new opportunity for trade and
        service.
      </p>
      <!-- <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p> -->
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img src="{% static '/main/images/main/enrich.png' %}" alt="Enrich" />

      <h2 class="fw-normal">Enrich</h2>
      <p>
        If infrastructure is the road to a brighter future, training and
        education are the vehicle on the path. Using today's tools to their
        potential we will bring knowledge and enrichment to those who need it
        most.
      </p>
      <!-- <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p> -->
    </div>
    <!-- /.col-lg-4 -->
  </div>
  <!-- /.row -->

  {% endblock %}
</div>
