{% load static %} {% block content %}
<!-- begin -->
<aside class="col-12 bg-light sticky-top" id="left">
  <div class="mt-2 mb-2">
    <h3 class="mb-3 text-center">Search here</h3>
    <form role="search" action="{% url 'search' %}" method="POST">
      {% csrf_token %}
      <input
        class="form-control"
        type="search"
        placeholder="Search articles"
        aria-label="Search"
        name="searched"
      />
    </form>
  </div>
  <div class="mt-5 mb-3" id="side">
    <h2 class="mb-3 text-center">Popular posts</h2>
    <ul
      class="nav flex-md-column flex-row justify-content-between"
      id="sidenav"
    >
      {% for single in article_sb %}
      <li class="nav-item">
        <a href="{% url 'article' single.id %}" class="nav-link pl-0"
          >{{single.title}}</a
        >
      </li>
      {% endfor %}
    </ul>
  </div>
  <div class="mt-4 tag-a">
    <h2 class="mb-3 text-center">Tags</h2>
    {% for tag in tags %}
    <a
      role="button"
      class="btn btn-outline-secondary mt-1 mb-1 ms-2 me-2"
      href="{% url 'tags' tag.id %}"
      >{{tag.title}}</a
    >
    {% endfor %}
  </div>
</aside>
<!-- end -->
{% endblock %}
